@charset "UTF-8";
a {
  color: yellow;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Droid Sans Mono', 'Noto Mono', 'Oxygen Mono', 'fixedsys', monospace;
  font-size: 13px;
  line-height: 1.2em;
  overflow: hidden; }
  body section {
    width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.hl {
  color: #000000;
  background-color: #ffffff; }

.hlsearch {
  color: #000000;
  background-color: #3465a4; }

.rightText {
  float: right;
  width: 100%;
  margin-top: -1.15em;
  margin-right: -.55em;
  text-align: right; }

#cursor {
  color: #00aa00; }

section#tabs {
  position: fixed;
  top: 0; }
  section#tabs span {
    display: block;
    float: left;
    color: #000000;
    background-color: #d3d7cf;
    text-decoration: underline; }
    section#tabs span:before {
      content: " "; }
    section#tabs span:after {
      content: " "; }
    section#tabs span.notify {
      color: #75507b;
      text-decoration: inherit; }
      section#tabs span.notify:before {
        color: #000000; }
      section#tabs span.notify:after {
        content: "+";
        color: #000000; }
    section#tabs span.chosen {
      color: #ffffff;
      background-color: #000000;
      font-weight: bold;
      text-decoration: none; }
    section#tabs span#close {
      float: right; }
      section#tabs span#close:before {
        content: none; }
      section#tabs span#close:after {
        content: none; }

section#main {
  clear: both;
  margin: 15px 0; }
  section#main div .username {
    font-weight: bold; }
    section#main div .username.reply:after {
      content: "￫"; }
    section#main div .username.pinged {
      color: #fce94f; }
    section#main div .username:hover {
      text-decoration: underline; }
  section#main div div.text {
    display: inline;
    /*white-space: pre-wrap;*/ }
    section#main div div.text:before {
      content: " "; }
    section#main div div.text:after {
      content: none; }
    section#main div div.text .link {
      color: #3465a4;
      cursor: pointer; }
      section#main div div.text .link:hover {
        text-decoration: underline; }
  section#main div .timestamp {
    display: inline;
    clear: left;
    color: #d3d7cf;
    cursor: pointer; }
    section#main div .timestamp:before {
      content: none; }
    section#main div .timestamp:after {
      content: " "; }
    section#main div .timestamp:hover {
      text-decoration: underline; }
  section#main div .retweet {
    display: block;
    margin-left: 16px;
    color: #4e9a06; }
    section#main div .retweet:before {
      content: "⇌retweeted by "; }
    section#main div .retweet .timestamp {
      color: #555753; }
      section#main div .retweet .timestamp:before {
        content: " "; }
      section#main div .retweet .timestamp:after {
        content: none; }
  section#main div .quote {
    display: block;
    margin-left: 16px;
    text-indent: -16px;
    color: #555753; }
    section#main div .quote:before {
      content: "\" "; }
    section#main div .quote:after {
      content: " \""; }
    section#main div .quote .timestamp {
      clear: none;
      color: inherit;
      text-indent: 0; }
    section#main div .quote .text {
      text-indent: -8px; }
  section#main div.cursor {
    background-color: #555753; }
    section#main div.cursor .retweet .timestamp {
      color: #000000; }
    section#main div.cursor .quote {
      color: #000000; }
    section#main div.cursor div.text .link {
      color: #739fcf; }

section#controls {
  position: fixed;
  background-color: #000000;
  bottom: 0; }
  section#controls #status .left {
    width: 100%;
    text-align: left; }
  section#controls #status .rightText span {
    float: right;
    display: block;
    width: 64px; }
  section#controls #commandInput {
    display: none;
    width: 105%;
   /*
  #cursor {
  	position: relative;
  	left: -8px;
  }*/ }
    section#controls #commandInput #commandContext .contextCmdDict {
      color: #ffffff;
      background-color: #555753;
      font-weight: bold; }
    section#controls #commandInput #commandContext .username {
      font-weight: bold; }
    section#controls #commandInput #commandContext .rightText {
      margin-right: 2.45em; }
    section#controls #commandInput #query {
      font-family: inherit;
      font-size: inherit;
      background-color: transparent;
      color: #ffffff;
      width: 100%;
      height: 15px;
      padding: 0;
      border: 0;
      position: relative; }

section#imgView {
  position: fixed;
  top: 100%;
  width: auto;
  height: auto;
  background-color: black; }
  section#imgView div {
    border: 1px solid #ffffff;
    margin: 7px 4px 7px 3px;
    padding: 7px 3px 7px 4px; }
  section#imgView img {
    max-width: 320px;
    max-height: 150px; }

/*# sourceMappingURL=default.css.map */
