$blk: #000000;
$red: #cc0000;
$grn: #4e9a06;
$yel: #c4a000;
$blu: #3465a4;
$mgt: #75507b;
$cyn: #06989a;
$lgry:#d3d7cf;
$gry: #555753;
$lred:#ef2929;
$lgrn:#8ae234;
$lyel:#fce94f;
$lblu:#739fcf;
$lmgt:#ad7fa8;
$lcyn:#34e2e2;
$wht: #eeeeec;
$text:#ffffff;
$cur: #00aa00;
$taba:#aa0000;

$char: 13px;
$charWidth: 8px;
$charHeight: 15px;

@font-face {
	font-family: "Noto Mono";
	src: url(../fonts/NotoMono-Regular.ttf);
}

a {
	color: yellow;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
body {
	background-color: $blk;
	color: $text;
	font-family: 'Noto Mono', 'Oxygen Mono', monospace;
	font-size: $char;
	line-height: 1.2em;
	overflow: hidden;
	section {
		width: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

@mixin highlight($fore, $back) {
	color: $fore;
	background-color: $back;
}
@mixin addBlank($before, $after) {
	&:before { content: if($before, '\00a0', none); }
	&:after { content: if($after, '\00a0', none); }
}

.hl {
	@include highlight($blk, $text);
}
.hlsearch {
	@include highlight($blk, $blu);
}
.rightText {
	float: right;
	width: 100%;
	margin-top: -1.15em;
	margin-right: -.55em;
	text-align: right;
}

#cursor {
	color: $cur;
}

section#tabs {
	position: fixed;
	top: 0;
	span {
		display: block;
		float: left;
		
		@include addBlank(true, true);
		@include highlight($blk, $lgry);
		text-decoration: underline;
		
		&.notify {
			color: $mgt;
			text-decoration: inherit;
			&:before { color: $blk; }
			&:after {
				content: "+";
				color: $blk;
			}
		}
		
		&.chosen {
			@include highlight($text, $blk);
			font-weight: bold;
			text-decoration: none;
		}
		
		&#close {
			@include addBlank(false, false);
			float: right;
		}
	}
}

section#main {
	clear: both;
	margin: $charHeight 0;
	div {
		.username {
			font-weight: bold;
			&.reply {
				&:after {
					content: "￫";
				}
			}
			&.pinged {
				color: $lyel;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		div.text {
			@include addBlank(true, false);
			display: inline; // removes line break at the start of the text
			/*white-space: pre-wrap;*/ // properly wrap texts inside the area
			.link {
				color: $blu;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.timestamp {
			display: inline;
			//width: $charWidth*6;
			clear: left;
			color: $lgry;
			@include addBlank(false, true);
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.retweet {
			display: block;
			margin-left: 16px;
			color: $grn;
			&:before {
				content: "⇌retweeted by ";
			}
			.timestamp {
				color: $gry;
				@include addBlank(true, false);
			}
		}
		.quote {
			display: block;
			margin-left: $charWidth*2;
			text-indent: -$charWidth*2;
			color: $gry;
			&:before {
				content: "\" ";
			}
			&:after {
				content: " \"";
			}
			.timestamp {
				clear: none;
				color: inherit;
				text-indent: 0;
			}
			.text {
				text-indent: -8px;
			}
		}
		&.cursor {
			background-color: $gry;
			.retweet {
				.timestamp {
					color: $blk;
				}
			}
			.quote {
				color: $blk;
			}
			div.text {
				.link {
					color: $lblu;
				}
			}
		}
	}
}

section#controls {
	position: fixed;
	background-color: $blk;
	bottom: 0;
	#status {
		.left {
			width: 100%;
			text-align: left;
		}
		.rightText span {
			float: right;
			display: block;
			width: 64px;
		}
	}
	#commandInput {
		display: none;
		width: 105%;
		#commandContext {
			.contextCmdDict {
				@include highlight($text, $gry);
				font-weight: bold;
			}
			.username {
				font-weight: bold;
			}
			.rightText {
				margin-right: 2.45em;
			}
			.left {
				div {
				}
			}
		}
		#query {
			font-family: inherit;
			font-size: inherit;
			background-color: rgba(0,0,0,0);
			color: $text;
			width: 95.239%; // 1*1.05*0.95239~=1
			height: 15px;
			padding: 0;
			border: 0;
			position: relative;
		}/*
		#cursor {
			position: relative;
			left: -8px;
		}*/
	}
}

section#imgView {
	position: fixed;
	top: 100%;
	width: auto;
	height: auto;
	background-color: black;
	div {
		border: 1px solid $text;
		margin: 7px 4px 7px 3px;
		padding: 7px 3px 7px 4px;
	}
	img {
		max-width: 40*8px;
		max-height: 10*15px;
	}
}